*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
 }
 a{
  text-decoration: none;
  list-style-type: none;
 }
 a:hover {
  color: aqua;
 }
 
 nav ul{
    background-color: black;
    height: 50px;
    padding-top: 10px;
  }
 
 header p{
    display: inline-block;
    padding-left: 10px;
    color: red ;
    font-size: 25px;
  }
  
 nav ul li{
     display: inline-block;
 }
 nav ul li a{
  list-style-type: none;
  text-decoration: none;
  color: white;
  padding: 20px;
 }
nav ul li a:hover{
  color: aqua;
  list-style-type: none;
  padding-top: 10px;
 }
  .sepet li a:hover{
  color: aqua;
  background-color:orange;
 }
 img{
  border-radius: 10px;
  padding-left: 5px;
  position: relative;
  bottom: -20px;
 }
 .img-1{
  width: 75px;
  height: 75px;
  position: relative;
  bottom: -20px;
 }
 .img-2{
  width: 55px;
  height: 55px;
  position: relative;
  bottom: -17px;
 }
 form.search {
      display: flex;
      position: relative;
      bottom: 10px;
  }
  form.search input {
      width: 500px;
      height: 40px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      box-sizing: border-box;
      padding: 0 15px;
      flex: 1;
      outline: 0;
      margin-left: 27px;
  }
  form.search input:hover{
    height: 45px;
    transition: 0.2s;
  } 
  form.search button {
      height: 40px;
      padding: 0 30px;
      background: #393a3b;
      color: #fff;
      border-radius: 4px ;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border: none;
  }
  form.search button:hover {
    height: 45px;
    background-color: beige;
    color: #333;
    transition: 0.2s;
}

  .container {
     width: auto;
     height: auto;
     background-color:orange;
  }
  .nav-container {
     margin-top: -15px;
  }
  .giris-uye {
      list-style-type: none;
      display: inline-block;
      margin-left: 150px;
      margin-right:50px;
      font-size: 22px;
      font-weight: 300;
  }
  .sepet {
      list-style-type: none;
      display: inline-block;
      margin-right:20px;
      font-size: 22px;
      font-weight: 300;
      position: relative;
      
  }

  .sepet-resmi {
      border-radius: 12px;
  }
  .sepet-ekle-button{
     margin-left: 90px;
     text-align: center;
  }

  .navbar-menu ul li:last-child {
      margin-left: 800px;
  }

.h1{
    padding-top: 30px;
    background-color: black;
    color: azure;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    height: 100px;
  }
.asidesol{
    width: 7%;
    height:600px;
    float: left;
    background-color: white;
}

.articlesag{
   float: right;
}
section{
    width: 86%;
    height: 1000px;
    overflow:auto;
    float: left;
    color: #fff;
    line-height: 30px;
    position: relative;
}

.divler{
  width: 95%;
  height: 150px;
  background-color: lightblue;
  border-radius: 3px;
  margin: 15px;
  padding: 10px;
  overflow: hidden;

}
.img-3{
    width: 95px;
    height: 100px;
    position: relative;
    bottom: -17px;
   }
   .sptyazısı{
     width: 190px;
     height: 75px;
     display: inline-block;
     margin-left: 50px;
     border: 2px solid black;
     text-align: center;
     background-color: #F0FFF0;
     font-size: 30px;
     border-radius: 5px;
   }

   .divler ul{
       display: inline-block;
       list-style-type: none;
       position: relative;
       bottom: 15px;
   }
   .divler ul li{
       padding: 4px;
       color: #000;
       font-weight: bolder;
   }
   .divler button{
    background-color: wheat;
     border-radius: 5px; 
     width: 50px; 
     height: 50px;
     margin-left: 15px;
     position: relative;
     left: 120px;
     bottom: 28px;
     
   }
   .divler .img-3:hover{
    transition: 0.2s;
    width: 99px;
    height: 104px;
   }
   .divler p{
     position: relative;
     left: 1080px;
     bottom: 120px;
     color: black;

   }
.divler button:last-child{
    width: 100px;
    height: 50px;
    margin-left: 160px;
    color: red;
    font-weight: bold;
}
.btn:last-child:hover{
  background-color: #ff4500;
  color: #F0FFF0;
  transition: 0.2s;
}
.satınal{
  width: 400px;
  height: 175px;
  background-color: bisque;
  margin-left: 400px;
  padding-left: 25px;
  padding-top: 10px;
  border-radius: 5px;
}
.satınal span{
  font-weight: bolder;
  color: #333;

}
.satınal p{
  color: black;
}
.satınal-btn{
  width: 400px;
  height: 60px;
  background-color: bisque;
  margin-left: 400px;
  font-size: larger;
  border-radius: 5px;
}
.satınal-btn:hover{
  width: 405px;
  height: 65px;
  background-color: chocolate;
  transition: 0.2s;
}
footer {
  clear: both;
  position: relative;
  top: 30px;
  background-color: #333;
  color: white;
  width: 100%;
  height: 360px;
}
 div.sol{
      width: 60%;
      background-color: black;
      height: 220px;
      padding: 0 10 20 -50;
      overflow: hidden;
      display: inline-block;
 }
 div.sol ul {
      float: left;
      margin-left: 70px;
      list-style-type: none;
 }
 div.sol ul li{
     margin-top: 20px;
 }
 div.sol ul li a{
  color: white;
 }
 div.sol ul li a:hover{
  color: aqua;
 }

 div.sag{
  width: 40%;
  background-color: black;
  height: 220px;
  float: right;
  overflow: hidden;
  padding: 20px 20px 20px 150px;
 }
 .sag img{
    margin-left: 15px;
 }
 div.alt{
   width: 100%;
   height: 130px;
   padding: 10px 10px 10px 30px ;
   overflow: hidden;
 }
 .ikon-img:hover{
  border-radius: 30px;
  transition: 0.4s;
}
#twit-ikon:hover{
  border-radius: 30px;
  transition: 0.4s;
  background-color: #4b00ff;
}
 div.alt ul{
  display: inline-block;
 }
 div.alt ul:last-child{
  margin-left: 700px;
 }
 div.alt ul li{
  display: inline-block;
  margin-left: 20px;
 }
 .alt img{
   position: relative;
   top: -10px;
 } 